{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'encyclopedia/styles.css' %}?v=1" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <section class="sidebar">
        <h2>Wiki</h2>
        <form action="{% url 'encyclo:search' %}">
          <input
            class="search"
            type="text"
            name="q"
            placeholder="Search Encyclopedia entries..."
          />
        </form>
        <div>
          <a href="{% url 'encyclo:index' %}">Home</a>
        </div>
        <div>
          <a href="{% url 'encyclo:new' %}">Create New Page</a>
        </div>
        <div>
          <a href="{% url 'encyclo:random' %}">Random Page</a>
        </div>
      </section>
      <section class="main">{% block body %} {% endblock %}</section>
    </div>
  </body>
</html>
